@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
    color: white;
    font-family: 'Roboto', sans-serif;
}

.navbar-brand {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-family: 'Permanent Marker', cursive;
    font-size: 38px;
}

.navbar-thicker-border {
    border-bottom: 3px solid #fff; /* Adjust the thickness to your preference */
  }

.navbar-nav a:hover {
        color: #fff; 
        text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff;
}

.container-top {
    margin: 5px 20px;
    padding: 15px 30px 0;
}

.container-top h1 {
    font-size: 20px;
    text-align: center;
    margin-bottom: 10px;
}

.container-top p {
    font-size: 15px;
    text-align: center;
}


@media (max-width: 767px) {
    .container-top {
        border: solid white 1px;
        border-radius: 5px;
    }
}

.carousel-content-container {
    position: relative;
}

.carousel-text-container {
    position: absolute;
    top: 20%;
    right: 10%;
    width: 30%;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 10px;
    padding: 12px 15px;
    color: white;
    margin: 15px 0;
}

@media (max-width: 767px) {
    .carousel-text-container {
        position: static;
        width: 100%;
        padding: 10px;
        margin: 15px 0;
        text-align: center;
        border: solid white 1px;
        border-radius: 5px;
    }
}

.carousel-text-container-2 {
    position: absolute;
    top: 20%;
    left: 5%;
    width: 30%;
    background-color: rgba(0, 0, 0, 0.7);
    border: rgba(0, 0, 0, 0);
    border-radius: 10px;
    padding: 12px 15px;
    color: white;
    margin: 15px 0;
}

@media (max-width: 767px) {
    .carousel-text-container-2 {
        position: static;
        width: 100%;
        padding: 10px;
        margin: 15px 0;
        text-align: center;
        border: solid white 1px;
        border-radius: 5px;
    }
}

footer {
    border-top: 2px solid #fff;
    width: 100%;
}

footer .nav a {
    color: #fff;
}

.fa-brands {
    color: #fff;
}